<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.services.android.testapp">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".directions.DirectionsV4Activity"
            android:label="Directions v4"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".directions.DirectionsV5Activity"
            android:label="Directions v5"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".icons.DirectionsIconsActivity"
            android:label="Directions icons"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".geocoding.GeocodingReverseActivity"
            android:label="Reverse geocoding"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".geocoding.GeocodingServiceActivity"
            android:label="Geocoding service"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".geocoding.GeocodingWidgetActivity"
            android:label="Geocoding widget"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".icons.MakiIconsActivity"
            android:label="Maki icons"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".staticimage.StaticImageActivity"
            android:label="Static image"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.SimplifyPolylineActivity"
            android:label="Simplify polyline"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.MapMatchingActivity"
            android:label="Map matching"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".turf.TurfBearingActivity"
            android:label="Turf bearing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".turf.TurfDestinationActivity"
            android:label="Turf destination"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".turf.TurfDistanceActivity"
            android:label="Turf distance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".turf.TurfLineSliceActivity"
            android:label="Turf line slice"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
        Service to asynchronously fetch a location address using a Geocoder. Setting the
        android:exported attribute to "false" stops other apps from starting this
        service, even when using an explicit intent.
        -->
        <service
            android:name=".geocoding.service.FetchAddressIntentService"
            android:exported="false" />

        <!-- Telemetry -->
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

    </application>

</manifest>