# Gradle files
.gradle/

# IntelliJ files
.idea/
*.iml

# Build files
build/
*.so
*.apk
BuildConfig.java
.DS_Store

# Local settings
local.properties

# Capture files
captures/

# Token file
libandroid/app/src/main/res/values/developer-config.xml

# Do not track signing file
secring.gpg

# Documentation files
node_modules/
