BuildConfig.java

# Gradle
.gradle
/local.properties

# IntelliJ
out/

documentation

/build
build/
/captures
.externalNativeBuild

# Idea
.idea
*.iml
classes

obj

#MacOS
.DS_Store

dependency-graph-mapbox-libraries.png

